<p id="notice"><%= notice %></p>

<h1>Institues</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact</th>
      <th>Direction</th>
      <th>District</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @institues.each do |institue| %>
      <tr>
        <td><%= institue.name %></td>
        <td><%= institue.contact %></td>
        <td><%= institue.direction %></td>
        <td><%= institue.district %></td>
        <td><%= institue.phone %></td>
        <td><%= institue.email %></td>
        <td><%= link_to 'Show', institue %></td>
        <td><%= link_to 'Edit', edit_institue_path(institue) %></td>
        <td><%= link_to 'Destroy', institue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Institue', new_institue_path %>
