<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @institue.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @institue.contact %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @institue.direction %>
</p>

<p>
  <strong>District:</strong>
  <%= @institue.district %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @institue.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @institue.email %>
</p>

<%= link_to 'Edit', edit_institue_path(@institue) %> |
<%= link_to 'Back', institues_path %>
